BOT_TOKEN=123456789:REPLACE_ME
API_ID=12345678
API_HASH=REPLACE_ME
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=tg_downloader
MAX_FILE_SIZE=2000000000
MAX_CONCURRENT=1
